<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="static/fourth-Y.css" rel="stylesheet">
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>React App</title>
    <h1>A-Level Physics Paper 5 Question 2 Calculator </h1>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
    <div class="select-menu">
      <div class="select-btn">
          <span class="sBtn-text">9702 52 MJ 2023</span>
      </div>

          <ul class="options">
              <li class="options"></li>
          </ul>

          <ul class="options">
              <li class="options"></li>
          </ul>

          <ul class="options">
              <li class="options"></li>
          </ul>
    </div>

    <h4 class="formula">FORMULA GIVEN : pV= Yk(θ+Z)</h4>

    <div class="calculate-menu">
      <div class="calculate-btn">
          <span class="cBtn-text">CALCULATE</span>
      </div>
          <ul class="options">
            <li class="options"><a href="{{ url_for('first') }}">GRADIENT AND Y-INTERCEPT IN VARIABLES</a></li>
        </ul>

        <ul class="options">
            <li class="options"><a href="{{ url_for('second') }}">VALUES OF GRADIENT WITH UNCERTAINTIES</a></li>
        </ul>

        <ul class="options">
            <li class="options"><a href="{{ url_for('third') }}">VALUES OF Y-INTERCEPT WITH UNCERTAINTIES</a></li>
        </ul>

        <ul class="options">
          <li class="options"><a href="{{ url_for('fourth') }}">VALUES OF CONSTANTS WITH UNCERTAINTIES</a></li>
      </ul>

        <ul class="options">
          <li class="options"><a href="{{ url_for('fifth') }}">VALUES OF VARIABLES WITH CONDITIONS</a></li>
      </ul>

    </div>

    <div class="content">
        <p>THE CONSTANTS:</p>
        <div class="option">
            <a class="one" href="{{ url_for('fourthy') }}">Y</a>
        </div>

        <div class="option">
            <a class="two" href="{{ url_for('fourthz') }}">Z</a>
        </div>
        <p id="line-one">SINCE GRADIENT = Yk/p,
            Y = (GRADIENT x p) /k</p>
        <p id="line-two">Given :</p>
        <p id="line-three">p = (1.01 ± 0.01) x 10^5 Pa</p>   
        <p id="line-four">k = 1.38 x 10^-23JK^-1</p>

        <div class="prompt-input">
            <p>GRADIENT = </p>
            <p>△GRADIENT = </p>
        </div>
        <div class="input">
        </div>
        <div class="prompt-output">
            <p>Y =</p>
            <p>△Y =</p>
        </div>
        <div class="output">
            <p id="output-one"></p>
            <p id="output-two"></p>
        </div>
    </div>

    {% block content %}

    <form method="POST" action="{{ url_for('fourthy') }}"> 
        <input type="number" placeholder="△gradient" id="mbfl" name="dm" step="any" required>
        <input type="number" placeholder="gradient" id="dm" name="mbfl" step="any" required>
        <input type="submit" placeholder="calculate" id="submit" value="calculate">
    </form>

    <p id="Y">{{Y}}</p>
    <p id="dY">{{dY}}</p>

    {% endblock content %}

  </body>
</html>