body {
    background-color: #e5e5e5;
}

h1 {
    color: #5e5e5e;
    text-align: center;
    background-color: #d4d4d4;
    margin : 0 auto;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    padding: 20px;
}

h2 {
    color: #5e5e5e;
    position: relative;
    top: 100px;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    background-color: #d4d4d4;
    padding: 10px 10px ;
    margin: 0px 550px ;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
}

.select-menu {
    width: 380px;
    margin: 150px auto;
}

.select-menu .select-btn {
    display: flex;
    height: 10px;
    background-color: #d4d4d4;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #5e5e5e;
}

.select-btn i{
    font-size: 25px;
}

.select-menu .options {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #dedede;
    display: none;
    z-index: 999;
    height: 40px;
    border-bottom : solid;
    border-color: #aaaaaa;
    border-width: 0.1px;
    padding-left: 65px;
    padding-top: 0px;
}   

.select-menu:active .options, .select-menu:hover .options {
    display: block;
}

.select-menu .select-btn ul.options {
    display: none;
    background-color: black;
}

.select-menu .select-btn span.sBtn-text {
    text-align: center;
}

.calculate-menu {
    position: absolute;
    left: 40px;
}

.calculate-menu .calculate-btn {
    background-color: #929292;
    color: #5e5e5e;
    width: 400px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.calculate-menu ul.options {
    background-color: #cacaca;
    color: #5e5e5e;
    width: 345px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: solid;
    border-width: 0.5px;
    border-color: #aaaaaa;
    position: relative;
    left: 7px;
    font-size: 14px;
    list-style-type: none;
}

.calculate-menu ul.options li.options {
    text-decoration: none;
}

.content {
    position: absolute;
    top: 350px;
    left: 500px;
    background-color: #e0e0e0;
    width: 850px;
    height: 3000px;
    z-index: 2;
    border-radius: 5px;
}

h4.formula {
    position: absolute;
    top: 285px;
    left: 800px;
    color: #909090;
    z-index: 10
}

a {
    color:#5e5e5e ;
}

.content .content-one p {
    position: relative;
    margin: 50px;
    color: #5e5e5e;
    left: 230px;
    top: 30px;
    font-size: 20px;
}

.content .content-one .output p.one{
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 400px;
    top: 20px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    text-align: center;
}

.content .content-one .output p.two{
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 400px;
    top: 90px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    text-align: center;
}

.content .content-two .input p.one{
    background-color: #e0e0e0;
    color: #e0e0e0;
    position: absolute;
    left: 460px;
    top: 243px;
    border-radius: 10px;
    z-index: -999999999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content .content-two .input p.two{
    background-color: #e0e0e0;
    color: #5e5e5e;
    position: absolute;
    left: 480px;
    top: 315px;
    border-radius: 10px;
    z-index: -99;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content .content-two .input p.three{
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 250px;
    top: 390px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content .content-two .input p.four{
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 270px;
    top: 464px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content .content-two .input p.five{
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 180px;
    top: 540px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content .content-two p {
    position: relative;
    margin: 50px;
    color: #5e5e5e;
    left: 30px;
    top: 100px;
    font-size: 20px;
}

.content .content-three .input p.one{
    background-color: #e0e0e0;
    color: #5e5e5e;
    position: absolute;
    left: 330px;
    top: 810px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content .content-three .input p.two{
    background-color: #e0e0e0;
    color: #5e5e5e;
    position: absolute;
    left: 380px;
    top: 885px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content .content-three .input p.three{
    background-color: #e0e0e0;
    color: #5e5e5e;
    position: absolute;
    left: 400px;
    top: 960px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content .content-three .input p.four{
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 185px;
    top: 1034px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content .content-three .input p.five{
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 200px;
    top: 1110px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    height: 10px;
}

.content-three p {
    position: relative;
    margin: 50px;
    color: #5e5e5e;
    left: 30px;
    top: 300px;
    font-size: 20px;
}


#line-one {
    position: relative;
    left: 170px;
    color: #929292;
    top: 500px;
}

#line-two {
    position: relative;
    left: 350px;
    top: 470px;
    color: #929292;
}

#line-three {
    position: relative;
    left: 270px;
    top: 430px;
    color: #929292;
}

#line-four {
    position: relative;
    left: 270px;
    top: 390px;
    color: #929292;
}

.prompt-input p {
    position: relative;
    margin: 10px;
    top: 400px;
    left: 55px;
}

.prompt-output p {
    position: relative;
    margin: 10px;
    top: 325px;
    left: 490px;
}

.content-three #output-one {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 490px;
    top: 1570px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

#output-two {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 510px;
    top: 1607px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}






.content-five #line-one {
    position: relative;
    left: 75px;
    top: -30px;
    color: #929292;
}

.content-five #line-two {
    position: relative;
    left: 350px;
    top: -70px;
    color: #929292;
}

.content-five #line-three {
    position: relative;
    left: 270px;
    top: -100px;
    color: #929292;
}

.content-five #line-four {
    position: relative;
    left: 270px;
    top: -140px;
    color: #929292;
}

.content-five #input-one{
    background-color: #e0e0e0;
    color: #5e5e5e;
    position: absolute;
    left: 170px;
    top: 80px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

.content-five #input-two{
    background-color: #e0e0e0;
    color: #5e5e5e;
    position: absolute;
    left: 190px;
    top: 113px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

.content-five #input-three{
    background-color: #e0e0e0;
    color: #5e5e5e;
    position: absolute;
    left: 145px;
    top: 152px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

.content-five #input-four{
    background-color: #e0e0e0;
    color: #5e5e5e;
    position: absolute;
    left: 165px;
    top: 189px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

.content-five .prompt-input p {
    position: relative;
    margin: 10px;
    top: -160px;
}

.content-five .prompt-output p {
    position: relative;
    margin: 10px;
    top: -270px;
    left: 490px;
}

.content-five #output-one {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 490px;
    top: 110px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

.content-five #output-two {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 510px;
    top: 147px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

.content-five {
    position: relative;
    top: 500px;
}


.content-six {
    position: relative;
    top: 100px;
}

.content-six #line-one {
    position: relative;
    left: 260px;
    top: -40px;
    color: #929292;
}

.content-six #line-two {
    position: relative;
    left: 350px;
    top: -70px;
    color: #929292;
}

.content-six #line-three {
    position: relative;
    left: 270px;
    top: -110px;
    color: #929292;
}

.content-six #line-four {
    position: relative;
    left: 270px;
    top: -150px;
    color: #929292;
}

.content-six #line-five {
    position: relative;
    left: 270px;
    top: -190px;
    color: #929292;
}

.content-six p {
    position: relative;
    top: 35px;
    left: 300px;
}

.content-six #input-two{
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 130px;
    top: 260px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

.content-six #input-three{
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 130px;
    top: 295px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

.content-six .prompt-input p {
    position: relative;
    margin: 10px;
    top: -190px;
    left: 120px;
}

.content-six .prompt-output p {
    position: relative;
    margin: 10px;
    top: -250px;
    left: 490px;
}

.content-six #output-one {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 490px;
    top: 270px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
}

.content-six {
    position: relative;
    top: 300px;
}

.one {
    color: #e0e0e0;
}

.divider-1 form {
    position: relative;
    left: -510px;
    top: -2665px;
}

form #x_1_1 {

    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1010px;
    top: 400px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #y_1_1 {

    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1065px;
    top: 400px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #x_2_1 {

    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1140px;
    top: 400px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #y_2_1 {

    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1195px;
    top: 400px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #x_3_1 {

    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1030px;
    top: 467px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #y_3_1 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1085px;
    top: 467px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #x_4_1 {

    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1160px;
    top: 467px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #y_4_1 {

    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1215px;
    top: 467px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-1 #submit {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1280px;
    top: 465px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 75px;
    text-align: center;
    border-width: 1px;

}

.divider-1 #bfl {
    z-index: 99999999999;
    font-size: 30;
    color: #5e5e5e;
    position: absolute;
    left: 340px;  
    top: 395px;
}

#wfl {
    z-index: 999999999999;
    font-size: 30;
    color: #5e5e5e;
    position: absolute;
    left: 365px;  
    top: 465px;
}

#dm {
    z-index: 99999999999;
    font-size: 30;
    color: #5e5e5e;
    position: absolute;
    left: 270px;  
    top: 543px;
}

form #x_1_2 {

    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 880px;
    top: 400px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #y_1_2 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 935px;
    top: 400px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #mbfl_2 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 930px;
    top: 467px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

form #mwfl_2 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 950px;
    top: 545px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-2 #submit {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1070px;
    top: 545px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 75px;
    text-align: center;
    border-width: 1px;
}

#y_intercept_bfl {
    z-index: 99999999;
    font-size: 30;
    color: #5e5e5e;
    position: absolute;
    left: 785px;  
    top: 570px;
}

#dy_intercept {
    z-index: 99999999;
    font-size: 30;
    color: #5e5e5e;
    position: absolute;
    left: 800px;  
    top: 648px;
}

.divider-2 {
    position: relative;
    top: -2095px;
    left: -500px;
}



.divider-3 form #mbfl_3 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 760px;
    top: 668px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-3 form #dm_3 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 740px;
    top: 631px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-3 #submit {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 870px;
    top: 666px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 75px;
    text-align: center;
    border-width: 1px;
}

.divider-3 #Y {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1032px;
    top: 575px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    text-align: center;
    height: 10px;
}

.divider-3 #dY {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1050px;
    top: 612px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    text-align: center;
    height: 10px;
}

.divider-3 {
    position: relative;
    top: -1565px;
    left: -540px;
}





.divider-4 form #mbfl_4 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 735px;
    top: 672px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-4 form #y_intercept_4 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 765px;
    top: 602px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-4 form #dy_intercept_4 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 775px;
    top: 638px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-4 form #dm_4 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 753px;
    top: 710px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-4 #submit {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 870px;
    top: 709px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 75px;
    text-align: center;
    border-width: 1px;
}

.divider-4 #Z_4 {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1040px;
    top: 582px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    text-align: center;
    height: 10px;
}

.divider-4 #dZ_4 {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 1055px;
    top: 618.5px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    text-align: center;
    height: 10px;
}

.divider-4 {
    position: relative;
    top: -1122px;
    left: -544px;
}




.divider-5 form #Y_5 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 670px;
    top: 645px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-5 form #Z_5 {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 670px;
    top: 681px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    height: 10px;
    border-width: 1px;
}

.divider-5 #submit {
    z-index: 99999999;
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 800px;
    top: 680px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 75px;
    text-align: center;
    border-width: 1px;
}

.divider-5 #temperature {
    background-color: #d0d0d0;
    color: #5e5e5e;
    position: absolute;
    left: 980px;
    top: 605px;
    border-radius: 10px;
    z-index: 999999;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    text-align: center;
    height: 10px;
}

.divider-5 {
    position: relative;
    top: -640px;
    left: -490px;
}